    <h2> Reactive Student Form</h2>
<form [formGroup]="studentForm" >
     <p>
      <label for="firstname">First Name </label>
      <input type="text" id="firstName" name="firstName" formControlName="firstName">
    </p>
    <div
    *ngIf="!firstname?.valid && (firstname?.dirty ||firstname?.touched)">
    <div [hidden]="!firstname?.errors?.required"  style="color:red">
      First Name is required
    </div>
    <div [hidden]="!firstname?.errors?.minlength" style="color:red">
      Min Length is 5
    </div>
  </div>
    <p>
      <label for="lastname">Last Name </label>
      <input type="text" id="lastname" name="lastname" formControlName="lastName">
    </p>
    <div
    *ngIf="!lastname?.valid && (firstname?.dirty ||lastname?.touched)">
    <div [hidden]="!lastname?.errors?.required"  style="color:red">
      Last Name is required
    </div>
    <div [hidden]="!lastname?.errors?.minlength" style="color:red">
      Min Length is 5
    </div>
    </div>
    <p>
      <label for="email">Email </label>
      <input type="text" id="email" name="email" formControlName="email">
    </p>
    <div
    *ngIf="!studentForm.controls.email?.valid && (studentForm.controls.email?.dirty
    ||studentForm.controls.email?.touched)" style="color: red;">
      email is not valid
  </div>
    <p>
      <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
    </p>
   
  </form>

  <pre>{{studentForm.value| json}}</pre>