
 <form #contactForm="ngForm">
    <p>
        <label for="firstname">First Name </label>
        <input type="text" id="firstname" name="firstname" ngModel required>
      </p>
      <p>
        <label for="lastname">Last Name </label>
        <input type="text" id="lastname" name="lastname" ngModel required>
      </p>

      <p>
        <button class="btn btn-primary" type="submit" (click)="submitForm(contactForm)" [disabled]="!contactForm.valid">Submit</button>
      </p>
      <p>
        <button class="btn btn-primary" type="submit" (click)="resetForm(contactForm)">Reset</button>
      </p>
 </form>
