<p>home works!</p>
<pre>{{toDate | date:'short'}}</pre>
<pre>{{userName | capitalize}}</pre>

<!-- <pre>obsValue</pre>
{{ obsValue | async}} -->
{{welcomeResponse}}
<p appHighlight="#AA336A">
    AngularJS was developed in 2008-2009 by Misko Hevery and Adam Abrons and is
    now maintained by Google. AngularJS is a Javascript open-source front-end
    framework. It is used to develop single-page web applications (SPAs).<br/> It is a
    continuously growing and expanding framework which provides better ways for
    developing web applications.<br/> In this AngularJS tutorial, we will explore the
    key concepts, features, and steps to kickstart your journey in creating robust
    and interactive web applications.
    <br />
</p>

<button ttToggle  type="button">Click To Toggle</button>